<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
        <ul class="sidebar-nav">
          <hr>
          <li><a href="{% url 'index' %}">Home</a></li><hr>
          <li><a href="{% url 'about_us' %}">About us</a></li><hr>
          <li><a href="{% url 'contacts' %}">Contacts</a></li><hr>
          <li><a href="{% url 'authors' %}">Authors</a></li><hr>
          {% if user.is_authenticated %}
            <li>User: <a href="{% url 'accounts:profile' user.pk %}">{{ user.get_username }}</a></li>
            <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
          {% else %}
            <li><a href="{% url 'accounts:login' %}">Login</a></li>
          {% endif %}
        </ul>
      {% endblock %}
      </div>
      <div class="col-sm-10 ">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
</body>

</html>
